main{
    min-height: 1150px;
}

.setting-main{
    width: 700px;
    display: block;
    width: 700px;
    margin-left: 330px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0;
    margin-top: 50px;
}

#infor-first{
   
    font-weight: bold;
    font-size: 20px;
    padding: 20px 20px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid black;
    
}

.setting-body{
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 20px;
}

button{
    float: right;
    margin-right: 10px;
    width: 100px;
    height: 32px;
    cursor: pointer;
    background-color: rgb(14, 25, 78);
    color: white;
    font-weight: bold;
}

button:hover{
    background-color: white;
    color: rgb(14, 25, 78);
    border: 2px solid rgb(14, 25, 78);
}

select{
    float: right;
    margin-right: 10px;
    width: 100px;
    height: 32px;
    padding-left: 25px;
}

.setting-body:nth-last-child(1){
    border-top: 1px solid #ccc;
    margin-top: 0px;
    border-bottom: 1px solid black;
}

textarea{
    margin: 0;
    width: 698px;
    padding: 6px;
    height: 150px;
    resize: none;
}

#PJNameChange{
    display: none;

    float: right;
    margin-right: 10px;
    
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #aaa;

    width: 270px;
    height: 30px;
    margin-bottom: 15px;
    font-size: 25px;
    outline: 0;
    text-align: right;

}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

button:hover a{
    text-decoration: none;
    color: rgb(14, 25, 78);
    font-weight: 700;
}

*{
    box-sizing: border-box;
    font-family: 'Hahmlet', serif;
    letter-spacing: 0.8px;
}




