
.signUp-content{
    display: flex;
    justify-content: center;
}

.required{
    color: red;
    padding: 0 5px;
}

/* 회원가입 폼 */
form[name="signUp-form"]{
    width: 30%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

/* 회원가입 폼 내부 input  제목(label)  */
form[name="signUp-form"]>label{
    display: block;
    margin-top: 20px;
    height: auto;
}

.signUp-input-area{
    width: 500px;
    height: 40px;
    
    display: flex;
    align-items: center;
}



/* :focus-within : input태그에 포커스가 맞춰졌을 때 */


/* input태그 */
.signUp-input-area>input{
    width: 60%;
    height: 90%;

    font-size: 16px;
    font-weight: bold;

    border: 1px solid #ccc;
    margin: 0 5px;
    padding: 0 6px;
    outline: 0;
    border-radius: 5px;
}

/* button 태그 */
.signUp-input-area>button{

    width: 15%;
    height: 36px;
    background-color: rgb(14, 25, 78);
    border: 0;
    color: white;
    border-radius: 5px;

    cursor: pointer;
}

/*회원가입 관련 메세지 */
.signUp-message{
    font-size: 14px;
    letter-spacing: -1px;
}

.confirm{color:green}
.error{color:red}

/* 가입하기 버튼 */
#signUp-btn{
    width: 30%;
    padding: 10px;

    margin: 20px 0;
    border:0;

    font-size: 16px;
    font-weight: bold;

    color: white;
    background-color: rgb(14, 25, 78);

    align-self: center;
    border-radius: 5px;
}

h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;

}

.memberBirth>input{
    width: 95px;
}

.confirm{color:green}
.error{color:red}
